/* Import Google Font Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Give full control over margin, padding and border on all elements*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body */

body {
    font-family: Open Sans, sans-serif;
    background-color: #f6f6ec;
}

.white-text {
    color: #f6f6ec;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}

.header-background {
    position: absolute;
    background-image: url("../images/header.jpg");
    width: 100%;
    height: 600px;
    z-index: -5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 60%;
}

#logo img {
    width: 160px;
    margin: 15px 30px 10px 30px;
}

#order-now-button {
    color: #000;
    margin: auto 30px auto 30px;
    border: solid 1px #CBAD6D ;
    background-color: #CBAD6D ;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
    white-space: nowrap;
}

#order-now-button:hover {
    color: #000 ;
    border: solid 1px #F6F6EC;
    background-color: #F6F6EC;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 30px auto 30px;
    padding-top: 40px;
}

#navbar li {
    margin: 0px 20px;
    color: #F6F6EC;
    list-style-type: none;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}

#navbar li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

#navbar li a:hover {
    border: solid 1px #CBAD6D ;
    background-color: #CBAD6D ;
    padding: 10px;
    border-radius: 12px;
}

/* How to order section - Homepage */

#how-to-order {
    padding: 20px 16%;
    height: 400px;
    margin-top: 70px;
}

#how-to-order p {
    padding: 10px 20px;
    font-weight: 600;
}

#how-to-order h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

#steps {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

#step-one {
    padding: 2px;
    border-left: 4px solid #000 ;
    flex-grow: 1;
    min-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#step-two {
    border-left: 4px solid #000 ;
    border-right: 4px solid #000 ;
    padding: 2px;
    flex-grow: 1;
    min-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#step-three {
    padding: 2px;
    border-right: 4px solid #000 ;
    flex-grow: 1;
    min-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#order-now-button-2 {
    color: #000;
    border: solid 1px #CBAD6D ;
    background-color: #CBAD6D ;
    padding: 2px 4px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    white-space: nowrap;
    transition: 0.5s;
}

#order-now-button-2:hover {
    color: #000 ;
    border: solid 1px #F6F6EC;
    background-color: #F6F6EC;
}

.how-to-icon {
    font-size: 30px;
    padding-top: 15px;
}


/* Vitamins Section */

#vitamins {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 30px 20vw;
}

.right-image > div {
    padding: 2vw 12vw 2vw 2vw;
}

.left-image > div {
    padding: 2vw 2vw 2vw 12vw;
    text-align: end;
}

#vitamins h2 {
    font-size: 1.4em;
    border-bottom: 1px solid #000;
}

.vitamin-description {
    font-size: 1em;
}

#vitamins img {
    height: 22%;
    width: 22%;
    border-radius: 30px;
}

.outer-vitamin-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    border: 0px;
    background-color: rgba(203, 173, 109, 0.35);
    border-radius: 30px;
}

/* Scrollable Image 1 */

#scrollable-image-1 {
    background-image: url("../images/vitamin-background.jpg");
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
}

/* Reasons to choose us */

#reasons {
    display: flex;
    flex-direction: row; 
    height: 65vh;  
    background-color: rgba(203, 173, 109, 0.35);
}

#outer-div-reasons {
    height: 65vh;
    width: 45%;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inner-div-reasons {
    color: #000;
    margin: 4vw;
    text-align: center;
    font-size: 0.9em;
    margin: auto 2vw;
}

.top-reasons {
    padding-top: 5vh;
}

.bottom-reasons {
    padding-bottom: 5vh;
}

.inner-div-reasons h2 {
    text-align: center;
    font-size: 1.5em;
}

.inner-div-reasons p {
    margin-top: 1.5vh;
    font-size: 1.1em;
}

#reasons-video {
    height: 65vh;
    width: 55%;
    object-fit: cover;
}


/* Body - Order now page*/
.body-order-page {
    background-color: #E7DCC0;
}

/* Header - Order now page*/

.header-background-order-page {
    height: 300px;
    background-position: 40% 70%;
}

/* Order Notice - Order now page*/

.order-notice {
    text-align: center;
    padding: 2vw 0 2vw 3vw;
}

.order-notice h2 {
    white-space: nowrap;
}

/* Order Form - Order now page*/

.order-form-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vw;
    width: 80%;
    margin-top: 4vw;
    background-color: #E7DCC0;
}

#order-now-form {
    display: flex;
    flex-direction: row;
    border: solid 1px #000;
    background-color: rgba(203, 173, 109, 0.35);
    padding: 2em;
}

#order-now-form h3 {
    text-align: center;
}

.personal-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 2em;
}

.vitamin-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    width: 50%;
    padding-left: 2em;
}

.vitamin-selection,
.vitamin-selection label,
.capsule-size-selection,
.capsule-size-selection label,
.supplement-notes {
    padding: 10px;
}

/* Google Maps */

#map {
    margin-bottom: -10px;
}

/* Footer */

footer {
    background-color: #577A59;
    height: 10vw;
    display: flex;
    flex-direction: row;
}

footer a {
    color:#000;
    transition: 0.3s;
}

footer a:hover {
    color:#CBAD6D;
}

footer h2 {
    font-size: 1em;
}

footer div {
    flex-grow: 1;
    min-width: 33%;
    text-align: center;
    margin: auto;
}

#copyright {
    font-size: 1em;
}

#footer-contact-info li {
    list-style-type: none;
    font-size: 1em;
}

#footer-social-media li {
    list-style-type: none;
    font-size: 2em;
    display: inline;
    margin: 0.5em;
}

#footer-social-media a {
    padding: 0.5em;
}

/* Screens up to 1200px - Desktops */

@media screen and (max-width: 1200px) {
    
    /* Header - Desktop 1200px */
    .header-background {
        height: 550px;
        background-position: 10% 10%;
    }
    
    /* How to order - Desktop 1200px */
    #how-to-order {
        padding: 20px 16%;
        height: 400px;
        margin-top: 40px;
    }
    /* Vitamins Section - Desktop 1200px */

    #vitamins {
        margin: 30px 15vw;
    }

}

/* Screens up to 1024px - Laptop */

@media screen and (max-width: 1024px) {

    /* Header - Desktop 1024px */
    .header-background {
        height: 550px;
        background-position: 20% 60%;
    }    
    
    /* How to order - Laptop 1024px */
    #how-to-order {
        padding: 5px 15%;
        height: 400px;
        margin-top: 30px;
    }
    
    /* Vitamins Section - Laptop 1024px */
    #vitamins {
        margin: 30px 15vw;
    }

    /* Scrollable Image 1 - Laptop 1024px */
    #scrollable-image-1 {
        height: 200px;
    }

    /* Inner Div Reasons - Laptop 1024px */
    .inner-div-reasons {
        font-size: 0.8em;
    }

    /* Footer - Laptop 1024px */
    footer h2 {
        font-size: 0.9em;
    }

    #copyright {
        font-size: 0.8em;
    }
    
    #footer-contact-info li {
        list-style-type: none;
        font-size: 0.8em;
    }
    
    #footer-social-media li {
        list-style-type: none;
        font-size: 1.5em;
        display: inline;
        margin: 0.5em;
    }

}

/* Screens up to 768px - Table and Mobile */

@media screen and (max-width: 768px) {

    /* Header - 768px Tablet and Mobile */
    header {
        justify-content: center;
    }

    .header-background {
        height: 650px;
        background-position: 20% 10%;
    }    

    #logo {
        width: 100%;
        position: absolute;
        margin: 0px auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    
    #logo img {
        width: 150px;
        margin: 15px auto 10px auto;
        left: 0;
        right: 0;
    }

    #order-now-button {
        font-size: 0.9em;
        margin: 91px 10px 0 0;
        padding: 5px auto;
    }

    #navbar {
        margin: 100px 10px 0 0;
        padding-top: 0;
    }

    #navbar li a {
        font-size: 0.9em;
        padding: 0px;
    }
    
    /* How to order section - 768px Tablet and Mobile */

    #how-to-order {
        padding: 0 20%;
        height: 330px;
        margin-top: 30px;
    }

    #steps {
        flex-direction: column;
        margin: 20px auto;
        align-items: center;
    }

    #step-one {
        border-right: 4px solid #000 ;
        border-left: 4px solid #000 ;
        padding: 10px;
        width: 70%;
    }

    #step-two {
        border-right: 4px solid #000 ;
        border-left: 4px solid #000 ;
        padding: 10px;
        width: 70%;
    }

    #step-three {
        padding: 10px;
        border-right: 4px solid #000 ;
        border-left: 4px solid #000 ;
        width: 70%;
    }

    #how-to-order p {
        padding: 5px 15px;
        line-height: 22px;
        font-size: 0.8em;
    }

    #how-to-order h2 {
        padding-bottom: 10px;
        font-size: 1em;
    }

    .how-to-icon {
        font-size: 1.2em;
    }

    /* Vitamins Section - 768px Tablet and Mobile */

    #vitamins {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 158px 0 0 0;
        background-color: rgba(203, 173, 109, 0.35);
    }

    .right-image > div {
        padding: 6vw;
        width: 60%;
    }

    .left-image > div {
        padding: 4vw;
        width: 60%;
    }

    #vitamins h2 {
        font-size: 1em;
        border-bottom: 1px solid #000;
    }

    .vitamin-description {
        font-size: 0.8em;
    }

    .outer-vitamin-div {
        margin: 0;
        border-radius: 0;
        background-color: transparent;
    }

    #vitamins img {
        height: 22%;
        width: 22%;
        border-radius: 40px;
        padding: 20px;
    }


    /* Reasons to choose us - 768px Tablet and Mobile  */

    #reasons {
        flex-direction: column; 
        height: 130vh;  
    }

    #outer-div-reasons {
        height: 65vh;
        width: 100%;
    }

    .top-reasons {
        padding-top: 0.5vh;
    }

    .bottom-reasons {
        padding-bottom: 5vh;
    }

    #reasons-video {
        height: 65vh;
        width: 100%;
        object-fit: cover;
    }

    /* Footer - 768px Tablet and Mobile  */
    footer {
        flex-direction: column;
        height: 38vh;
    }

    footer h2 {
        font-size: 0.9em;
    }

    #copyright {
        font-size: 0.7em;
        order: 3;
    }

    #footer-contact-info {
        order: 2;
    }

    #footer-contact-info li {
        font-size: 0.9em;
    }

    #footer-social-media {
        margin-top: 20px;
    }

    #footer-social-media li {
        font-size: 2em;
    }


}    
