/* Import Google Font Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Give full control over margin, padding and border on all elements*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    background-color: #f6f6ec;
}

.white-text {
    color: #f6f6ec;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}

#header-background {
    position: absolute;
    background-image: url("../images/Header.jpg");
    width: 100%;
    height: 600px;
    z-index: -5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 20%;
}

#logo img {
    width: 160px;
    margin: 15px 30px 10px 30px;
}

#order-now {
    color: #F6F6EC;
    margin: auto 30px auto 30px;
    border: solid 1px #032F53;
    background-color: #032F53;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}

#navbar {
    margin: auto 30px auto 30px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar li {
    margin-right: 20px;
    color: #F6F6EC;
    list-style-type: none;
}

#navbar li a {
    color: #F6F6EC;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

#navbar li a:hover {
    border: solid 1px #003300;
    background-color: #003300;
    padding: 10px;
    border-radius: 12px;
}

/* How to order section */

#how-to-order {
    padding: 20px 16%;
    height: 400px;
    margin-top: 70px;
}

#how-to-order p {
    padding: 10px 20px;
    font-weight: 600;
}

#how-to-order h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

#how-to-order h3 {
    padding-bottom: 10px;
    font-weight: 200;
}

#steps {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin 20px auto;
}

#step-one {
    padding: 2px;
    border-left: 6px solid #032F53;
    flex-grow: 1;
    min-width: 33%;
}

#step-two {
    border-left: 6px solid #032F53;
    border-right: 6px solid #032F53;
    padding: 2px;
    flex-grow: 1;
    min-width: 33%;
}

#step-three {
    padding: 2px;
    border-right: 6px solid #032F53;
    flex-grow: 1;
    min-width: 33%;
}

.how-to-icon {
    font-size: 30px;
}


/* Vitamins Section */

#vitamins {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 30px 10vw;
}

.right-image > div {
    padding: 2vw 15vw 2vw 2vw;
}

.left-image > div {
    padding: 2vw 2vw 2vw 15vw;
    text-align: end;
}

#vitamins h2 {
    font-size: 2.2vw;
    border-bottom: 1px solid #000;
}

.vitamin-description {
    font-size: 1.1vw;
}

#vitamins img {
    height: 20%;
    width: 20%;
    border-radius: 30px;
}

.outer-vitamin-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Hero Image Vitamin */

#hero-vitamin {
    background-image: url("../images/vitamin-background.jpg");
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-position: 10% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
}
